*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content-principal{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}


.box-button h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 302px;
    height: 82px;
    font-size: 100%;
    background-color: #135763;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease;
}

.box-button h2:hover{
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,.3);
}


/*PASSO PAGE*/
.content-page-passo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;

    padding-top: 20px;

    transition: 0.1s ease-in;
    opacity: 0;
    visibility: hidden;
}

.container-top{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.titulo-passo{
    color: #fff;
    font-size: 135%;
    padding-bottom: 40px;
}

.fechar i{
    font-size: 200%;
    color: #fff;
    cursor: pointer;
}

.container-passo{
    display: block;
    width: 826px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.box-passo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-passo i{
    font-size: 400%;
    color: #fff;
}

.box{
    width: 268px;
    height: 133px;
    background-color: #F5F5F5;
    border-radius: 20px;
    text-align: center;
}

.box h1{
    font-size: 120%;
    border-radius: 20px 20px 0 0;
    font-weight: bold;
    color: #fff;
    height: 37px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.box p{
    font-size: 98%;
    margin-top: 10px;
}

.icon i{
    font-size: 321%;
}

.fa-circle{
    font-size: 421%;
    /* color: #FFD700; */
}


/* .number .fa-1{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
} */


/*CONTROLES DE MARGENS*/
.box-right{
    margin-right: 80px;
    margin-left: 10px;
}

.box-left{
    margin-left: 80px;
    margin-right: 10px
}

/*CONTROLE DE POSICAO DA BOX*/
.box-passo-left{
    justify-content: flex-start;
}

.box-passo-right{
    justify-content: flex-end;
}

/* BOX PERSONALIZADO */
/* PORTAL */
.portal .box h1{
    padding: 10px 0px;
}

.portal .number .fa-circle{
    font-size: 421%;
    color: #FFD700;

}

.portal .number .fa-1{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
}

.portal .icon i{
    color: #FFD700;
}

.portal .box h1{
    background-color: #FFD700;
}

/* VIABILIDADE */
.viabilidade .box h1{
    padding: 10px 0px;
}

.viabilidade .number .fa-circle{
    font-size: 421%;
    color: #1E90FF;
}

.viabilidade .number .fa-2{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
}

.viabilidade .icon i{
    color: #1E90FF;
}

.viabilidade .box h1{
    background-color: #1E90FF;
}

/* GERAR DBE */
.dbe .box h1{
    padding: 10px 0px;
}

.dbe .number .fa-circle{
    font-size: 421%;
    color: #DC143C;
}

.dbe .number .fa-3{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
}

.dbe .icon i{
    color: #DC143C;
}

.dbe .box h1{
    background-color: #DC143C;
}

/* acessar-integrador */
.acessar-integrador .box h1{
    padding: 10px 0px;
}

.acessar-integrador .number .fa-circle{
    font-size: 421%;
    color:#00CED1;
}

.acessar-integrador .number .fa-4{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
}

.acessar-integrador .icon i{
    color:#00CED1;
}

.acessar-integrador .box h1{
    background-color:#00CED1;
}

/* GERAR DAE ONLINE */
.dae-online .box h1{
    padding: 10px 0px;
}

.dae-online .number .fa-circle{
    font-size: 421%;
    color:#7FFF00;
}

.dae-online .number .fa-5{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
}

.dae-online .icon i{
    color:#7FFF00;
}

.dae-online .box h1{
    background-color:#7FFF00;
}

/* SELECIONAR REGISTRO DIGITAL */
.selecionar-registro-digital .box h1{
    padding: 10px 0px;
}

.selecionar-registro-digital .number .fa-circle{
    font-size: 421%;
    color:#FF6347;
}

.selecionar-registro-digital .number .fa-6{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
}

.selecionar-registro-digital .icon i{
    color:#FF6347;
}

.selecionar-registro-digital .box h1{
    background-color:#FF6347;
}

/* UTILIZAR REGISTRO AUTOMATICO utilizar-registro-automatico*/
.utilizar-registro-automatico .box h1{
    padding: 10px 0px;
}

.utilizar-registro-automatico .number .fa-circle{
    font-size: 421%;
    color:	#A020F0;
}

.utilizar-registro-automatico .number .fa-7{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
}

.utilizar-registro-automatico .icon i{
    color:	#A020F0;
}

.utilizar-registro-automatico .box h1{
    background-color:	#A020F0;
}

/* EVIAR PARA A JUNTA envia-junta */
.envia-junta .box h1{
    padding: 10px 0px;
}

.envia-junta .number .fa-circle{
    font-size: 421%;
    color:	#B0E0E6;
}

.envia-junta .number .fa-8{
    font-size: 300%;
    color: #fff;
    transform: translate(51px, -7px);
}

.envia-junta .icon i{
    color:	#B0E0E6;
}

.envia-junta .box h1{
    background-color:	#B0E0E6;
}
