*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fluxo{
    width: 1000px;
    height: 100%;
    background-color: aliceblue;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.backdoor{
    position: absolute;
    width: 8px;
    height: 605px;
    background-color: #dcdcdc;
    display: flex;
    justify-self: center;
}

.number{
    width: 51px;
    height: 35px;
    background-color: #FFD700;
    text-align: center;
    border-radius: 50px;
}

.number-right{
    transform: translateX(93px);
}

.number-left{
    transform: translateX(-82px);
}

/*CSS PARA AS BOX*/

.container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    /*Manter por enquanto*/
    transform: translateX(72px);
}

.content-box i{
    color: #FFD700;
    font-size: 35px;
}


.box-passo{
    width: 400px;
    height: 151px;
    background-color: #F5F5F5;
    border-radius: 30px;
}

.box-passo p{
    text-align: center;
    padding-top: 23px;
    font-size: 87%;
    font-weight: blod;
}

.titulo{
    background-color: #FFD700;
    border-radius: 30px 30px 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 47%;
    padding: 20px;
    text-align: center;
}


/*LEFT & RIGHT*/
.left i{
    margin-left: 30px;
}

.right i{
    margin-right: 30px;
}

/*PERSONALIZADOS*/
/*PORTAL*/
.portal{
    grid-column-start: 1;
    grid-column-end: 3;
}


/*CRIAR-VIABILIDADE*/
.criar-viabilidade{
    grid-column-start: 2;
    grid-column-end: 3;
}

.criar-viabilidade .titulo{
    background-color: #4682B4;
}

.criar-viabilidade i{
    color: #4682B4;
}

/*DBE*/
.dbe{
    grid-column-start: 1;
    grid-column-end: 3;
}

.dbe .titulo{
    background-color: #DC143C;
}

.dbe i{
    color: #DC143C;
}

/*ACESSAR INTEGRADOR*/
.acessar-integrador{
    grid-column-start: 2;
    grid-column-end: 3;
}

.acessar-integrador .titulo{
    background-color: #00CED1;
}

.acessar-integrador i{
    color: #00CED1;
}
