*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content-principal{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}


.box-button h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 302px;
    height: 82px;
    font-size: 100%;
    background-color: #135763;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease;
}

.box-button h2:hover{
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,.3);
}


/*PASSO PAGE*/
.content-page-passo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,.9);
    width: 100vw;
    height: 100vh;

    padding-top: 20px;

    transition: 0.1s ease-in;
    opacity: 0;
    visibility: hidden;
}

.container-top{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.titulo-passo{
    color: #fff;
    font-size: 135%;
    padding-bottom: 40px;
}

.fechar i{
    font-size: 200%;
    color: #fff;
    cursor: pointer;
}

.container-passo{
    display: block;
    width: 854px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.box-passo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 268px;
    height: 133px;
    background-color: #F5F5F5;
    border-radius: 20px;
    text-align: center;
}

.box h1{
    font-size: 120%;
    background-color:#FFD700;
    border-radius: 20px 20px 0 0;
    font-weight: bold;
    color: #fff;
    height: 37px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.box p{
    font-size: 98%;
    margin-top: 10px;
}

.icon i{
    font-size: 321%;
    color: #FFD700;
}

.number i{
    font-size: 300%;
    color: #FFD700;
}

/*CONTROLES DE MARGENS*/
.box-right{
    margin-right: 80px;
    margin-left: 10px;
}

.box-left{
    margin-left: 80px;
    margin-right: 10px
}

/*CONTROLE DE POSICAO DA BOX*/
.box-passo-left{
    justify-content: flex-start;
}

.box-passo-right{
    justify-content: flex-end;
}